/* Reset CSS */
body {
    Padding: 0;
    Box-sizing: border-box;
    font: 14px Helvetica, Arial, Helvetica, sans-serif;
}

/* Custom properties */
:root {
    --border: 1px dashed black;
    --paddingm: 10px;
    --paddings: 5px;
    --marginm: 10px;
}

/* Generics */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.reverse {
    flex-direction: row-reverse;
}

.white {
    filter: invert();
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: rgba(211, 211, 211, 0.250);
}

.bg-lightgreen {
    background-color: rgb(33, 165, 154);
}

.bg-red {
    background-color: rgb(234, 105, 109);
}

h1 {
    font-size: 3.5em;
}

p {
    font-size: 1.4em;
    line-height: 1.4em;
}

img {
    max-width: 100%;
    display: block;
}

#wave {
    width: 100%;
    filter: opacity(4%);
}

#wave-reverse {
    width: 100%;
    filter: opacity(4%);
    transform: rotate(180deg);
}

ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin: 0px;
    padding: 20px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

#btn-white-small {
    color: black;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: white;
}

#btn-white {
    color: black;
    padding: 20px 55px;
    border-radius: 50px;
    background-color: white;
    font-size: 1.9em;
}

#btn-black {
    color: white;
    padding: 20px 55px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1.9em;
}

#btn-last {
    color: white;
    padding: 20px 55px;
    border-radius: 50px;
    background-color: rgb(146, 160, 220);
    font-size: 1.9em;
}

#btn-last-small {
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: rgb(146, 160, 220);
    font-size: 1em;
}

.fa-arrow-down-long {
    color: black;
    position: relative;
    left: 47px;
    top: -4px;
}


/* !Header */
header {
    height: 750px;
    background-image: url(img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

/* !Navbar*/

.nav-bar {
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(158, 207, 224); */
    padding: 15px 0;
    font-size: 1.4em;
}

/* !Jumbotron */

.jumbotron {
    width: 46%;
    text-align: center;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    translate: -50% -50%;
}

.jumbotron ul {
    gap: 30px;
}

.jumbotron h1 {
    font-size: 5em;
}

.jumbotron p {
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 500;
}

/* todo Main */
section {
    height: 650px;
}

/* todo Un luogo a invito */
.space {
    padding: 90px;
    align-items: flex-start;
}

.space div.text>* {
    padding-left: 160px;
}

/* todo Dove trovarsi è facile */
.where {
    padding-top: 80px;
}

.image-2nd {
    width: 100%;
    display: block;
    margin-right: -10px;
    padding-left: 160px;
}

.where .text {
    flex-basis: 54%;
}

/* todo Da pochi a un fandom */
.fandom {
    padding-top: 120px;
}

.image-3rd {
    width: 100%;
}

.fandom .text {
    flex-basis: 40%;
}

/* todo Tecnologia affidabile */
.tech {
    padding-top: 80px;
    text-align: center;
}

.images-4th {
    justify-content: center;
}

.big {
    height: 1200px;
}

#with-pattern {
    padding: 50px 0;
    margin-bottom: 20px;
    font-size: 2.5em;
    background-image: url(img/stars.svg);
    background-size: 60%;
    background-position-x: center;
    background-repeat: no-repeat;
}


/* Footer */
footer {
    background-color: rgb(36, 39, 42);
    padding: 40px;
}

/* Footer top left */
.footer-top {
    color: white;
    /* min-height: 600px; */
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(118, 136, 212);
    align-items: baseline;
}

.left h2 {
    font-size: 2.5em;
    color: rgb(118, 136, 212);
    margin: 0;
}

.left li {
    display: flex;
    gap: 10px;
    padding: 15px 0;
}

#ita-flag {
    width: 23px;
    height: 15px;
}

.footer-top h3,
h5 {
    margin: 0
}

.left li:last-of-type {
    gap: 30px;
}

.left {
    flex-basis: 30%;
}

/* Footer top right */
.right {
    flex-basis: 70%;
}

.right h3 {
    color: rgb(118, 136, 212);
}

.footer-nav {
    height: 100%;
    flex-basis: 100%;
}

.col-nav {
    /* border: 2px dashed white; */
    flex-basis: 25%;
}

.col-nav li {
    font-size: 1.1em;
    padding: 10px 0;
}

/* Footer bottom */
.footer-bottom {
    /* background-color: aquamarine; */
    margin-top: 20px;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom>* {
    /* background-color: rgb(253, 176, 192); */
    padding: var(--paddings);
}